:root {
  --color1: #355872;
  --color2: #7aaace;
  --color3: #9cd5ff;
  --color4: #f7f8f0;
}

body {
      background-color: #f8f9fa;
      font-family: 'Segoe UI', sans-serif;
    }

.mainmenu {
  background-color: var(--color1);
  color: var(--color4) !important;
}
.navbar-nav .nav-item a {
  color: var(--color4);
  text-decoration: none;
  margin: 0 10px;
}
.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color3);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
.imageproducts {
  height: 200px;
  object-fit: cover;
}

/* Estilos para tarjetas */
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 8px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1) !important;
  cursor: pointer;
}


.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 600;
  color: var(--color1);
}

.card-text {
  flex-grow: 1;
  min-height: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--color1);
  font-size: 0.95rem;
}

.card-body .fw-bold {
  font-size: 1.25rem;
  color: var(--color1);
}

/*contactos */
.form1{
  border: 2px solid var(--color4);
  border-radius: 10px;
  padding: 20px;
}

.informacion-contactos {
display: flex;
flex-direction: row;
justify-content: center;
gap: 30px;
}

.Filas-contactos{
  flex: 1;
  max-width: 300px;
  text-align: center;
  padding: 25px 30px;
  border-right: 2px solid black;
}
.Filas-contactos:last-child {
  border-right: none;
}

.form-control{
      width: 250px;
    padding: 8px;
    border: 2px solid gray;
    border-radius: 8px;
}

.pie{
  height:115px;
  background-color: #355872;
}

.redes{
    width:30px;
    display: flex;

}

.footer{
  background-color: #355872;
  color: white; 
  width: 100%; 
  padding: 20px;
  text-align: center;
}

.indexCarousel {
  padding: 50px 0;
  position: relative;
}

.caro-title {
  font-size: 3rem;
  font-weight: 600;
  color: #2c3e50;
}

.caro-subtitle {
  color: #6c757d;
  margin: 20px 0;
  max-width: 500px;
}

.btn-custom {
  background-color: #355872;
  color: #F7F8F0;
  padding: 10px 25px;
}

.btn-custom:hover {
  background-color: #9CD5FF;
  color: black;
  font-weight: 500;
}

.promo-card {
  background: #7AAACE;
  border-radius: 20px;
  padding: 30px;
  color: white;
  position: relative;
}

.promo-card img {
  border-radius: 15px;
  max-width: 100%;
}

.carousel-indicators [data-bs-target] {
  background-color: #9CD5FF;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: #355872;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.card-option{
  background-color: var(--color4);
  padding: 15px;
  margin: 5px;
}

.beneficios{
    background:#f2f2f2;
    padding:40px 0;
}

.icon{
    font-size:40px;
    color:#3f51b5;
}

.beneficios-text{
    margin-left:15px;
}

.beneficios-title{
    font-weight:600;
}
.Comunidad-box{
    background:white;
    border-radius:12px;
    padding:40px;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.book-img{
    border-radius:10px;
    width:100%;
    object-fit:cover;
}

.titulo-unete{
    font-family: Georgia, serif;
    font-size:40px;
    color:#2f3e46;
}

.subtitulo-unete{
    color:#6c757d;
    margin-bottom:25px;
}

.btn-suscribirse{
    background: var(--color1);
    border:none;
    padding:10px 25px;
    color:white;
}

.btn-suscribirse:hover{
    background:var(--color2);
}

.social-icons{
    margin-top:20px;
}

.social-icons a{
    width:42px;
    height:42px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    background: var(--color1);;
    color:white;
    margin-right:10px;
    text-decoration:none;
    font-size:18px;
}
