<footer
    class="flex flex-wrap justify-center lg:justify-between overflow-hidden gap-10 md:gap-20 py-16 px-6 md:px-16 lg:px-24 xl:px-32 text-[13px] text-gray-500 bg-black">
    <div class="flex flex-wrap items-start gap-10 md:gap-[60px] xl:gap-[140px]">
        <img src="assets/images/sansalvador.png" alt="" class="w-16">
        <div>
            <p class="text-slate-100 font-semibold">Sitio web oficial</p>
            <ul class="mt-2 space-y-2">
                <li><a href="/" class="hover:text-indigo-600 transition">Inicio</a></li>
                <li><a href="/" class="hover:text-indigo-600 transition">Primer equipo</a></li>
                <li><a href="/" class="hover:text-indigo-600 transition">Noticias</a></li>
                <li><a href="/" class="hover:text-indigo-600 transition">Tienda</a></li>
            </ul>
        </div>
        <div>
            <p class="text-slate-100 font-semibold">Tienda</p>
            <ul class="mt-2 space-y-2">
                <li><a href="/" class="hover:text-indigo-600 transition">Camisas</a></li>
                <li><a href="/" class="hover:text-indigo-600 transition">Calzonetas</a></li>
                <li><a href="/" class="hover:text-indigo-600 transition">Mercancia adicional</a></li>
            </ul>
        </div>
        <div>
            <p class="text-slate-100 font-semibold">Legal</p>
            <ul class="mt-2 space-y-2">
                <li class="hover:text-indigo-600 transition">Privacidad</li>
                <li class="hover:text-indigo-600 transition">Términos</li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col max-md:items-center max-md:text-center gap-2 items-end">
        <p class="max-w-60">Apoya a nuestro equipo viendo nuestros partidos en el majestuoso Estadio Cuscatlan.</p>
        <div class="flex items-center gap-4 mt-3">
            <i class="fa-brands fa-square-facebook text-xl"></i>
            <i class="fa-brands fa-instagram text-xl"></i>
            <i class="fa-brands fa-youtube text-xl"></i>
        </div>
        <p class="mt-3 text-center">© 2025 Grupo #4</p>
    </div>
</footer>
</a>
</div>
</div>
</footer>